.custom-header{
    background: rgba(255, 255, 255, 0.854)url('./asset/background.jpg');
    background-size: cover;
    background-blend-mode: color-burn;
    /* background-color: rgba(255, 255, 255, 0.9); */
    /* opacity: 75%; */
}
.custom-alert{
    background-color: blanchedalmond;
    color: brown;
    font-weight: bold;
    font-size: 10px;
}
.custom-alert h4{
    font-size: 12px;
    font-weight: bold;
}
/* .custom-date{

}
.custom-date-icon{
    position: relative;
    top: 0;
    right: 3px;
} */
/* @media (max-width: 441px) {
    .custom-btn {
        height: 5px;
       width: 30px;
       font-size: 8px;
    }
  } */
